---
layout: layouts/base.njk
tags: about
eleventyNavigation:
  key: Hizmetlerimiz
  order: 2

baslik: Hizmetlerimiz
altbaslik: Çocuklarınız için <span class="text-secondary">Sağlıklı ve Güvenli</span> eğitim ortamı
alticerikpar1: Lalebehçesi Anaokulu Olarak, çocuklarımızın okul öncesi eğitiminde gelişimini destekleyen, profesyonel ve güvenilir eğitim veren, profesyonel idareci ve öğretmen kadrosu sayesinde geleceğe emin adımlarla yürüyen bir çocuk eğitim ve gelişim kurumudur.
alticerikpar2: Lalebahçesi olarak; gelecekte ihtiyaç duyacağımız, geleceğimizi emanet edeceğimiz biricik çocuklarımızı her yönüyle hayata hazırlamak amacıyla bu eğlenceli ve anlamlı eğitim yolculuğuna çıktık.
alticerikbgimage: /img/servis-bg.jpg
buton: Biz Kimiz
butonurl: /hakkimizda

hizmetler:
    -
        url: /img/hizmetlerimiz/service1.jpg
        kisa: Tüzder Zeka Okulları
        tanim: 20
    -
        url: /img/hizmetlerimiz/service2.jpg
        kisa: Ahşap Okulları
        tanim: 20
    -
        url: /img/hizmetlerimiz/service3.jpg
        kisa: Drama Atölyesi
        tanim: 20      
    -
        url: /img/hizmetlerimiz/service4.jpg
        kisa: İngilizce Eğitimi
        tanim: Geleceğimizin teminatı olacak olan çocuklarımızın temel eğitimlerinin yanında her gün gelişen ve değişen Dünya’ya ayak uydurmalarını sağlamak amacı ile temel yabancı dil dersi olarak ingilizce etkinliği verilmektedir.     
    -
        url: /img/hizmetlerimiz/service5.jpg
        kisa: Fransızca Eğitimi
        tanim: 20     
    -
        url: /img/hizmetlerimiz/service6.jpg
        kisa: Gezi ve Piknik Organizasyonları 
        tanim: 20     
    -
        url: /img/hizmetlerimiz/service7.jpg
        kisa: Değerler Eğitimi
        tanim: Geleceğimizin teminatı çocuklarımızın temel eğitimlerinin yanında mili ve manevi değerlerine bağlı bir nesil olmalarını sağlamak için değerler eğitimi verilmektedir.    
    -
        url: /img/hizmetlerimiz/service8.jpg
        kisa: Satranç Dersi
        tanim: 20     
    -
        url: /img/hizmetlerimiz/service9.jpg
        kisa: Ebru Çalışması
        tanim: 20          
    -
        url: /img/hizmetlerimiz/service10.jpg
        kisa: Spor Faliyetleri
        tanim: 20        
    -
        url: /img/hizmetlerimiz/service11.jpg
        kisa: Rehberlik
        tanim: 20    
    -
        url: /img/hizmetlerimiz/service12.jpg
        kisa: At Biniciliği
        tanim: 20                                                                             
---


<div id="page-wrapper">
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <!-- jumbo-heading -->
            <div class="jumbo-heading" data-aos="fade-down">
                <h1>{{baslik}}</h1>
                <!-- Breadcrumbs -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Anasayfa</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{baslik}}</li>
                    </ol>
                </nav>
                <!-- /breadcrumb -->
            </div>
            <!-- /jumbo-heading -->
        </div>
        <!-- /container -->
    </div>
    <!-- /jumbotron -->
    <!-- ==== Page Content ==== -->
    <div class="page">
        <div class="container-fluid block-padding">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-7 justify-content-center align-self-center">
                        <h3>{{altbaslik | safe}}</h3>
                        <p>
                            {{alticerikpar1}}
                        </p>
                        <p>
                            {{alticerikpar2}}
                        </p>
                        <!-- Button -->
                        <a href="{{butonurl}}" class="btn btn-quaternary mt-2">{{buton}}</a>
                    </div>
                    <!-- /col-lg -->
                    <div class="col-lg-5 res-margin">
                        <img src="{{alticerikbgimage | url}}" alt="" class="moving-blob img-fluid">
                    </div>
                    <!-- /col-lg -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /container-fluid -->
        <!-- SVG divider -->
        <svg version="1.1" id="divider" class="primary" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1440 126" preserveaspectratio="none slice" xml:space="preserve">
            <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
        </svg>
        <!-- services carousel -->
        <div class="container-fluid bg-primary block-padding pattern2 pt-lg-0">
            <h2 class="text-light text-center">Hizmetlerimiz</h2>
            <!-- image -->
            <div class="container">
                <div class="carousel-3items owl-carousel owl-theme col-lg-12">
                    {%- for imkan in hizmetler-%}
                        <div class="serviceBox2">
                            <!-- service icon -->
                            <div class="service-icon">
                                <a >
                                    <img src="{{imkan.url | url}}" alt="{{imkan.kisa}}" class="blob img-fluid">
                                </a>
                            </div>
                            <!-- service content -->
                            <div class="service-content">
                                <a >
                                    <h4 class="service-head" style="min-height:72px">{{imkan.kisa}}</h4>
                                </a>
                                {# <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit integer dictum malesuada Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus Etiam rhoncus.
                                </p> #}
                                <!-- Button -->
                                {# <a href="services-single.html" class="btn btn-quaternary  btn-sm mt-2 ml-1">Read More</a> #}
                            </div>
                        </div>

                    {%-endfor-%} 


{# 
                    <!-- service 1 -->
                    <div class="serviceBox2">
                        <!-- service icon -->
                        <div class="service-icon">
                            <a href="services-single.html">
                                <img src="{{'/img/services/service1.jpg' | url}}" alt="" class="blob img-fluid">
                            </a>
                        </div>
                        <!-- service content -->
                        <div class="service-content">
                            <a href="services-single.html">
                                <h4 class="service-head">Daycare</h4>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit integer dictum malesuada Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus Etiam rhoncus.
                            </p>
                            <!-- Button -->
                            <a href="services-single.html" class="btn btn-quaternary  btn-sm mt-2 ml-1">Read More</a>
                        </div>
                    </div>
                    <!-- service 2 -->
                    <div class="serviceBox2">
                        <!-- service icon -->
                        <div class="service-icon">
                            <a href="services-single.html">
                                <img src="{{'/img/services/service2.jpg' | url}}" alt="" class="blob2 img-fluid">
                            </a>
                        </div>
                        <!-- service content -->
                        <div class="service-content">
                            <a href="services-single.html">
                                <h4 class="service-head">Summer Camp</h4>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit integer dictum malesuada Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus Etiam rhoncus.
                            </p>
                            <!-- Button -->
                            <a href="services-single.html" class="btn btn-quaternary btn-sm mt-2 ml-1">Read More</a>
                        </div>
                    </div>
                    <!-- service 3 -->
                    <div class="serviceBox2">
                        <!-- service icon -->
                        <div class="service-icon">
                            <a href="services-single.html">
                                <img src="{{'/img/services/service3.jpg' | url}}" alt="" class="blob img-fluid">
                            </a>
                        </div>
                        <!-- service content -->
                        <div class="service-content">
                            <a href="services-single.html">
                                <h4 class="service-head">Infant Care</h4>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit integer dictum malesuada Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus Etiam rhoncus.
                            </p>
                            <!-- Button -->
                            <a href="services-single.html" class="btn btn-quaternary btn-sm mt-2 ml-1">Read More</a>
                        </div>
                    </div>
                    <!-- service 4 -->
                    <div class="serviceBox2">
                        <!-- service icon -->
                        <div class="service-icon">
                            <a href="services-single.html">
                                <img src="{{'/img/services/service4.jpg' | url}}" alt="" class="blob2 img-fluid">
                            </a>
                        </div>
                        <!-- service content -->
                        <div class="service-content">
                            <a href="services-single.html">
                                <h4 class="service-head">Classes</h4>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit integer dictum malesuada Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus Etiam rhoncus.
                            </p>
                            <!-- Button -->
                            <a href="services-single.html" class="btn btn-quaternary btn-sm mt-2 ml-1">Read More</a>
                        </div>
                    </div>
                    <!-- service 5 -->
                    <div class="serviceBox2">
                        <!-- service icon -->
                        <div class="service-icon">
                            <a href="services-single.html">
                                <img src="{{'/img/services/service5.jpg' | url}}" alt="" class="blob img-fluid">
                            </a>
                        </div>
                        <!-- service content -->
                        <div class="service-content">
                            <a href="services-single.html">
                                <h4 class="service-head">Activities</h4>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit integer dictum malesuada Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus Etiam rhoncus.
                            </p>
                            <!-- Button -->
                            <a href="services-single.html" class="btn btn-quaternary btn-sm mt-2 ml-1">Read More</a>
                        </div>
                    </div> #}
                </div>
                <!-- /owl-services -->
            </div>
            <!-- /container -->
        </div>
        <!-- /mt-5 -->
        <!-- container-->
        <div class="container block-padding">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{'/img/services/serviceimg1.jpg' | url}}" alt="" class="img-fluid rounded">
                    <!-- ornament-->
                    <div class="ornament-stars" data-aos="fade-up-right"></div>
                </div>
                <div class="col-lg-6 res-margin">
                    <h3 class="res-margin">Etkinliklerimiz</h3>
                    <div class="accordion mt-5">
                        <!-- collapsible accordion 1 -->
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                    Değerler Eğitimi
                                </a>
                            </div>
                            <!-- /card-header -->
                            <div id="collapseOne" class="collapse show" data-parent=".accordion">
                                <div class="card-body">
                                    <p>Geleceğimizin teminatı çocuklarımızın temel eğitimlerinin yanında mili ve manevi değerlerine bağlı bir nesil olmalarını sağlamak için değerler eğitimi verilmektedir.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                        <!-- collapsible accordion 2 -->
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                    İngilizce Etkinliği
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent=".accordion">
                                <div class="card-body">
                                    <p>Geleceğimizin teminatı olacak olan çocuklarımızın temel eğitimlerinin yanında her gün gelişen ve değişen Dünya’ya ayak uydurmalarını sağlamak amacı ile temel yabancı dil dersi olarak ingilzce etkinliği verilmektedir.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /card -->
                        <!-- collapsible accordion 3 -->
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                    Beden Etkinliği
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent=".accordion">
                                <div class="card-body">
                                    <p>Çocuklarımıza beden eğitimi olarak jimnastik eğitimi verilmektedir.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseEx1">
                                    İlkokula Hazırlık Etkinliği
                                </a>
                            </div>
                            <div id="collapseEx1" class="collapse" data-parent=".accordion">
                                <div class="card-body">
                                    <p>Çocuklarımızın hayatının başlangıcı olan anaokulu eğitimi sırasında ilkokula hazırlık eğitimleride verilmektedir.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseEx2">
                                    Özbakım Etkinliği
                                </a>
                            </div>
                            <div id="collapseEx2" class="collapse" data-parent=".accordion">
                                <div class="card-body">
                                    <p>Çocuklarımıza günlük yaşam becerilerini kolaylaştırmak için özbakım eğitimi verilmektedir. Çocuklara günde 2 kez ve 5-10 dakika arası eğitim için zaman ayrılarak öz bakım eğitim verilmektedir.</p>
                                </div>
                            </div>
                        </div>                        
                                              
                        <!-- /card -->
                    </div>
                    <!-- /accordion -->
                </div>
                <!-- /col-lg-8 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /page -->
</div>