---
layout: layouts/base.njk
eleventyNavigation:
  key: Anasayfa
  order: 1

slides:
  -
    bgimage: img/slider/slide1.jpg
    subject: 
    h1: Deneyim ile Öğrenme
    content: Öğrenmenin en önemli kuralı deneme yöntemi ile öğrenmektir. Çocuklarımıza deneme yöntemi ile eğitim verilmektedir.
    link:
      text: Tıklayın
      url: http://www.bilmemne.com
      button: quaternary
  -
    bgimage: img/slider/slide2.jpg
    subject: 
    h1: İngilizce Etkinliği
    content: Okulumuzda Çocuklarımızla İngilizce etkinliği yapılmaktadır.
    link:
      text: Tıklayın2
      url: http://www.bilmemne.com2
      button: secondary
  -
    bgimage: img/slider/slide3.jpg
    subject: 
    h1: Oyun Bahçesi
    content: Okulumuz içerisinde bulunan oyun bahçesi güvenli ve eğitici oyunlardan oluşmaktadır.
    link:
      text: Tıklayın2
      url: http://www.bilmemne.com2
      button: secondary

  -
    bgimage: img/slider/slide4.jpg
    subject: 
    h1: Hijyenik - Güvenli Sınıflar
    content: Sınıfların günlük temizlik, bakım ve güvenliği personelimiz tarafından sağlanmaktadır.
    link:
      text: Tıklayın2
      url: http://www.bilmemne.com2
      button: secondary

cards:
  -
    onbaslik: Atölyeler
    ontext: Ahşap, dram ve sanat atölyeleri ile kendini kontrol etmeyi öğrenir
    arkabaslik: Okul Öncesinde Zekâ Ve Akıl Oyunlarının Kazanımları
    arkatext: Oyun ,Çocukların En Gerçek Uğraşıdır. Okul Öncesi Dönemi Çocuklar İçin İse Hayatı Öğrenme Aracıdır
    linktext: tıklayın
    url: /hizmetlerimiz
    bgcolor: bg-secondary
    bgimage: img/intro2.jpg
  -
    onbaslik: Yabancı Dil
    ontext: ingilizce ve fransızcayı birlikte öğreniyoruz.
    arkabaslik: Eğlenceli dil eğitimiz sunmaktayız.
    arkatext: Çocuklarda yeni bir dil öğrenme yeteneği yetişkinlere göre daha yüksektir. Okul öncesi dönemde farklı bir dilin öğrenilmesi hem dil hem de zihinsel gelişim açısından çok önemlidir.
    linktext: tıklayın
    url: /hizmetlerimiz
    bgcolor: bg-primary
    bgimage: img/intro3.jpg
  -
    onbaslik: Değerler Eğitimi
    ontext: Okul öncesi eğitim programının değerler eğitimi ile tamamlayın.
    arkabaslik: Değerler Eğitimi
    arkatext: Geleceğimizin teminatı çocuklarımızın temel eğitimlerinin yanında mili ve manevi değerlerine bağlı bir nesil olmalarını sağlamak için değerler eğitimi verilmektedir.
    linktext: tıklayın
    url: /hizmetlerimiz
    bgcolor: bg-tertiary
    bgimage: img/intro1.jpg


hakkimizda:
  baslik: Hakkımızda
  altbaslik: Bizi Tanıyın
  misyon: Misyonumuz
  misyontext: Uzman kadromuz ile, güncel, etkili bilimsel eğitim öğretim methodlarını uygularken, çocuklarımızı ahlaki, duygusal ve sosyal girişimini de destekleyerek bilinçli toplum bireyleri yetiştirmeyi hedefliyoruz. <br><h4 style="color:#151515">Okul öncesi eğitim ile</h4>Okul öncesi dönemde problem çözme, güçlü ileişim becerileri, analitik düşünme, araştırmacı ve takım çalışması becerilerini geliştirerek ilkokula hazırlıklarını tamamlıyoruz. <br><h4 style="color:#151515">Değerler Eğitimi ile</h4> Çocuklarımıza mukaddesata hürmet, anne-babaya hürmet, doğruluk, dürüstlük, helal gıda hassasiyeti, yardımlaşma ve temel dini bilgilerimizi öğretiyoruz.
  linktext: Bize Ulaşın
  url: link gelecek
  bgimage: /img/about2.jpg

testimonal: Aileler Ne Diyor
testimonals:
  -
    soyleyen: Söyleyen Kişi
    meslek: Mesleği
    soylenen: Kişinin söylediği yazı buraya yazılacak. 
    resim: img/team/team1.jpg
  -
    soyleyen: Söyleyen Kişi
    meslek: Mesleği
    soylenen: Kişinin söylediği yazı buraya yazılacak. 
    resim: img/team/team1.jpg
  -
    soyleyen: Söyleyen Kişi
    meslek: Mesleği
    soylenen: Kişinin söylediği yazı buraya yazılacak. 
    resim: img/team/team1.jpg
  -
    soyleyen: Söyleyen Kişi
    meslek: Mesleği
    soylenen: Kişinin söylediği yazı buraya yazılacak. 
    resim: img/team/team1.jpg

saglananlarbaslik: Neden Lalebahçesi
saglananlaralt : Çocuğunuz için en iyisi
saglananlarimage: img/imkanlar.jpg
saglananlar:
  -
    baslik: Hijyenik - Güvenli Sınıflar
    detay: Sınıfların günlük temizlik, bakım ve güvenliği personelimiz tarafından sağlanmaktadır.
    icon: flaticon-maternity
  -
    baslik: Karakter Eğitimi
    detay: Gerek sosyal açıdan gerek geleneklerimiz açısından çocuklarımıza Yaşayan değerler ve karakter eğitimi verilmektedir.
    icon: flaticon-open-book-1
  -
    baslik: Deneyim ile Öğrenme
    detay: Öğrenmenin en önemli kuralı deneme yöntemi ile öğrenmektir. Çocuklarımıza deneme yöntemi ile eğitim verilmektedir.
    icon: flaticon-classroom-1
  -
    baslik: Oyun Bahçesi
    detay: Okulumuz içerisinde bulunan oyun bahçesi güvenli ve eğitici oyunlardan oluşmaktadır.
    icon: flaticon-baby-boy

tedarikcilerimiz: Tedarikçiler
tedarikciler:
  -
    ad: Çamlıkca Çocuk
    image: /img/tedarikciler/camlicacocuk.png
    url: https://camlicacocuk.com/
  -
    ad: Fazilet Çocuk
    image: /img/tedarikciler/faziletcocuk.png
    url: http://www.faziletcocuk.com/
  -
    ad: İnsan ve Hayat
    image: /img/tedarikciler/insanvehayat.png
    url: https://insanvehayat.com/
  -
    ad: İsabet Okulları
    image: /img/tedarikciler/isabetokullari.png
    url: https://www.isabetokullari.com.tr/
  -
    ad: Çamlıca Kitap
    image: /img/tedarikciler/camlicakitap.png
    url: https://www.camlicakitap.com/
  -
    ad: Yedi Kıta
    image: /img/tedarikciler/yedikita.png
    url: https://yedikita.com.tr/
  -
    ad: Tüzder Üstün Zekalılar Derneği
    image: /img/tedarikciler/tuzder.png
    url: https://tuzder.org/

okulmevde: Okulum Evde ile her an yanınızdayız.
okulevdeyazi: Ücretsiz sanal eğitim platformumuz ile eğitimlerimizi takip edebilirsiniz.


servisler:
  -
    baslik: Günlük Bakım
    ontext:  Çocuklarımızın sağlıklı büyüyüp gelişebilmesi için doğal ve ölçülü beslenmelerine özen gösteririz. Çocuklarımızın sağlık durumunu takip eder, hissedilen ve gözlemlenen durumlarda ailelerimizi bilgilendiririz. 
    icon: flaticon-abc-block
    bgimage: img/services/service1.jpg
    id : 1
    active : active
  -
    baslik: Ektinlikler
    ontext: At biniciliği, satranç gibi etkinlikler ile gelişimini hızlandırılır.
    icon: flaticon-kids-1
    bgimage: img/services/service2.jpg
    id : 2
  -
    baslik: Beslenme
    ontext: İleriki hayatlarındaki davranışları bu dönemdeki edindikleri alışkanlıklara dayanmaktadır. Bu sebeple okulumuzda sağlıklı beslenmeyi teşvik edici uygulamalar ve faaliyetler çocuklarımızın sağlıklı yaşam alışkanlıkları kazanmalarında temel rol oynamaktadır.
    icon: flaticon-smiling-baby
    bgimage: img/services/service3.jpg
    id : 3
  -
    baslik: Sınıflar
    ontext: Ahşap, dram ve sanat atölyeleri ile kendini kontrol etmeyi öğrenir
    icon: flaticon-blackboard
    bgimage: img/services/service4.jpg
    id : 4
  -
    baslik: Atölyeler
    ontext: Ahşap, dram ve sanat atölyeleri ile kendini kontrol etmeyi öğrenir.
    icon: flaticon-kids
    bgimage: img/services/service5.jpg      
    id : 5 

---

{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}

<!-- page wrapper starts -->
<div id="page-wrapper">
  <!-- ==== Slider ==== -->
  <div class="container-fluid p-0">
    <!-- Slider -->
    <div id="slider" class="slider-full" style="width:1200px;height:750px;margin:0 auto;margin-bottom: 0px;">
      {%- for slide in slides -%}
        <!-- Slide 1 -->
        <div class="ls-slide" data-ls="duration:4000; transition2d:7;">
          <!-- bg image -->
          <img src="{{slide.bgimage | url}}" class="ls-bg" alt=""/>
          <!-- text -->
          <div class="ls-l header-wrapper " data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; durationout:400;">
            <div class="header-text text-light">
              <span class="text-light">{{slide.subject}}</span>
              <h1>{{slide.h1}}</h1>
              <!--the div below is hidden on small screens -->
              <div class="hidden-small">
                <p class="header-p">{{slide.content}}</p>
                {# <a class="btn btn-{{slide.link.button}}" href="{{slide.link.url | url}}">{{slide.link.text}}</a> #}
              </div>
              <!--/d-none -->
            </div>
            <!-- header-text -->
          </div>
          <!-- ls-l -->
        </div>
        <!-- ls-slide -->
      {%- endfor -%}
    </div>
    <!-- /slider -->
    <svg version="1.1" id="divider" class="slider-divider" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1440 126" preserveaspectratio="none slice" xml:space="preserve">
      <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
    </svg>
    <!-- /Slider ends -->
  </div>
  <!-- /container-fluid -->
  <!-- ==== Page Content ==== -->
  <div class="container">
    <!-- section -->
    <section id="intro-cards" class="row pb-0">
      {%- for card in cards -%}
        <div class="col-lg-4" data-aos="zoom-out">
          <div class="card card-flip">
            <!-- front of card -->
            <div class="card {{card.bgcolor}} text-light ">
              <div class="p-5">
                <h5 class="card-title text-light">{{card.onbaslik}}</h5>
                <p class="card-text">
                  {{card.ontext}}
                </p>
                <!-- button show on mobile only,where flip is disabled -->
                <a href="{{card.url}}" class="btn d-lg-none">{{card.linktext}}</a>
              </div>
              <!-- /p-5 -->
              <!-- image -->
              <img class="card-img" src="{{card.bgimage}}" alt="">
            </div>
            <!-- /card -->
            <!-- back of card -->
            <div class="card {{card.bgcolor}} text-light card-back">
              <div class="card-body d-flex justify-content-center align-items-center">
                <div class="p-4">
                  <h5 class="card-title text-light">{{card.arkabaslik}}</h5>
                  <p class="card-text">
                    {{card.arkatext}}
                  </p>
                  <!-- button -->
                  <a href="{{card.url}}" class="btn">{{card.linktext}}</a>
                </div>
                <!-- /p-4 -->
              </div>
              <!-- /card-body -->
            </div>
            <!-- /card -->
          </div>
          <!--/col-lg -->
        </div>
      {%- endfor -%}
    </section>
    <!-- #intro-cards -->
  </div>
  <!-- /container -->
  <!-- section -->
  <section id="about-home" class="container-fluid pb-0">
    <div class="container">
      <!-- section heading -->
      <div class="section-heading text-center">
        <h2>{{hakkimizda.baslik}}</h2>
        <p class="subtitle">{{hakkimizda.altbaslik}}</p>
      </div>
      <!-- /section-heading -->
      <div class="row">
        <div class="col-lg-7 ">
          <h4 style="color:#151515">{{hakkimizda.misyon}}</h4>
          <p class="mt-4 res-margin">
            {{hakkimizda.misyontext | safe}}
          </p>
          <a href="{{hakkimizda.url}}" class="btn btn-secondary ">{{hakkimizda.linktext}}</a>
        </div>
        <!-- /col-lg -->
        <div class="col-lg-5 res-margin">
          <!-- image -->
          <img class="img-fluid rounded" src="{{hakkimizda.bgimage}}" alt="">
          <!-- ornament starts-->
          <div class="ornament-rainbow" data-aos="zoom-out"></div>
        </div>
        <!-- /col-lg -->
      </div>
      <!-- /row Aileler Ne diyor kapatıldı. -->
      {# <h3 class="mt-5 text-center">{{testimonal}}:</h3>
      <div class="row">
        <!-- testimonials -->
        <!-- testimonial carousel -->
        <div class="carousel-2items owl-carousel owl-theme col-md-12">

          {%- for testim in testimonals -%}
            <div class="testimonial">
              <div class="content">
                <p class="description">
                  {{testim.soylenen}}
                </p>
              </div>
              <!-- /content -->
              <div class="testimonial-pic">
                <img src="{{testim.resim}}" class="img-fluid" alt="">
              </div>
              <!-- /testimonial-pic -->
              <div class="testimonial-review">
                <h5 class="testimonial-title">{{testim.soyleyen}}</h5>
                <span class="post">{{testim.meslek}}</span>
              </div>
              <!-- /testimonial-review -->
            </div>
          {%- endfor -%}
        </div>
        <!-- /owl-testimonial -->
      </div> #}
      <!-- /row -->
    </div>
    <!-- /container-->
    <!-- whale in water scene -->
    <!-- whale -->
    <img src="img/ornaments/whale.png" class="floating-whale" alt="">
    <!-- waves -->
    <div class="waveHorizontals">
      <div id="waveHorizontal1" class="waveHorizontal"></div>
      <div id="waveHorizontal2" class="waveHorizontal"></div>
      <div id="waveHorizontal3" class="waveHorizontal"></div>
    </div>
    <!-- sea -->
    <div class="sea"></div>
    <!--/ whale in water scene ends -->
  </section>
  <!-- /section ends -->
  <!-- section -->
  <section id="features" class="bg-secondary text-light">
    <div class="container">
      <!-- section heading -->
      <div class="section-heading text-center">
        <h2>{{saglananlarbaslik}}</h2>
        <p class="subtitle">{{saglananlaralt}}</p>
      </div>
      <!-- /section-heading -->
      <!-- features -->
      <div class="row ">
        <div class="col-lg-6">
          <div class="row ">
            {%- for imkan in saglananlar-%}
              <div class="col-md-6 col-lg-6">
                <div class="feature-with-icon">
                  <div class="icon-features">
                    <i class="{{imkan.icon}} text-primary"></i>
                  </div>
                  <h5>{{imkan.baslik}}</h5>
                  <p>{{imkan.detay}}</p>
                </div>
              </div>
              {%-endfor-%}
            </div>
          </div>
          <!-- /col-l -->
          <div class="col-lg-6 features-bg">
            <!-- image -->
            <img src="{{saglananlarimage}}" alt="" class="img-fluid" data-aos="zoom-out" data-aos-delay="300" style="max-width:400px"/>
          </div>
          <!-- /col-l -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </section>
    <!-- /section ends -->
    <!-- section -->
    <section id="services-home" class="container-fluid">
      <div class="container pb-5">
        <!-- section heading -->
        <div class="section-heading text-center">
          <h2>Hizmetlerimiz</h2>
          <p class="subtitle">what we offer</p>
        </div>
        <!-- /section heading -->
        <!-- row -->
        <div class="row vertical-tabs">
          <div class="col-lg-12">
            <!-- navigation -->
            <div class="tabs-with-icon">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {%- for imkan in servisler-%}
                    <a class="nav-item nav-link {{imkan.active}}" id="tab{{imkan.id}}-tab" data-toggle="tab" href="#tab{{imkan.id}}">
                      <i class="{{imkan.icon}}"></i>{{imkan.baslik}}</a>
                    {%-endfor-%}
                </div>
              </nav>
              <!-- tab-content -->
              <div class="tab-content block-padding bg-light" id="nav-tabContent">
                {%- for imkan in servisler-%}

                  <div class="tab-pane {{imkan.active}}" id="tab{{imkan.id}}" role="tabpanel" aria-labelledby="tab{{imkan.id}}-tab">
                    <!-- row -->
                    <div class="row">
                      <div class="col-lg-6 {% if loop.index % 2 != 1 %} order-1 {% endif%}" >
                        <!-- image -->
                        <img src="{{imkan.bgimage}}" alt="" class="rounded img-fluid">
                        <!-- ornament starts-->
                        <div class="ornament-rainbow" data-aos="fade-right"></div>
                      </div>
                      <!-- col-lg -->
                      <div class="col-lg-6">
                        <h3>{{imkan.baslik}}</h3>
                        <p>{{imkan.ontext}}</p>
                            <!-- Button -->
                        {# <a href="services-single.html" class="btn btn-secondary mt-4">Read More</a> #}
                      </div>
                      <!-- /col-lg -->
                    </div>
                    <!-- row -->
                  </div>
                {%-endfor-%}                
                <!-- ./Tab-pane -->
              </div>
              <!-- ./Tab-content -->
            </div>
            <!-- vertical-tabs -->
          </div>
          <!-- /col-lg-6 -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </section>
    <!-- /section ends -->
    <!-- Section -->
    <section id="counter-section" class="container-fluid counter-calltoaction bg-fixed overlay" data-100-bottom="background-position: 50% 100px;" data-top-bottom="background-position: 50% -100px;">
      <div id="counter" class="container">
        <div class="row col-lg-10 offset-lg-1">
          {%- for stat in collections.about[0].data.stats -%}
            <div class="col-xl-4 col-md-4">
              <div class="counter">
                <div class="counter-wrapper {{stat.renk}}">
                  <i class="counter-icon {{stat.icon}}"></i>
                  <!-- insert your final value on data-count= -->
                  <div class="counter-value" data-count="{{stat.sayi}}">0</div>
                  <h3 class="title">{{stat.yazi}}</h3>
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </section>
    <!-- /section ends-->
    <!-- section -->
    <section id="gallery-home" class="container-fluid bg-tertiary no-bg-sm">
      <div class="container">
        <!-- section heading -->
        <div class="section-heading text-center text-light">
          <h2>Sanal Tur</h2>
          <p class="subtitle">Kurumumuzda 3 Boyutlu Gezinin</p>
        </div>
        <iframe src="{{'/cekmekoy-360/index.htm' | url}}" style="width:100%; height:700px; border:none" title="Çekmeköy" lalebahçesi="Lalebahçesi" 3d="3D" tur="Tur"></iframe>
      </div>
      <!-- /container-->
    </section>
    <!-- /section ends -->
    <!-- section -->
    <section id="blogprev-home" data-100-bottom="background-position: 0% 120%;" data-top-bottom="background-position: 0% 100%;">
      <div class="container">
        <!-- section heading -->
        <div class="section-heading text-center">
          <h2>{{tedarikcilerimiz}}</h2>
          <p class="subtitle">En Sağlıklısı En Kalitelisi</p>
        </div>
        <!-- /section-heading -->
        <!-- blog carousel -->
        <div class="carousel-4items owl-carousel owl-theme mt-0">
          {%- for tedarik in tedarikciler -%}
            <!-- blog-box -->
            <div class="blog-box">
              <!-- image -->
              <a href="{{tedarik.url | url}}" target="_blank">
                <div class="image"><img src="{{tedarik.image | url}}" alt="{{tedarik.ad}}"/></div>
              </a>
            </div>
            <!-- /blog-box -->
          {%- endfor -%}
        </div>
        <!-- /owl-carousel -->
      </div>
      <!-- /container -->
    </section>
    <!-- /section ends-->
    <!-- section -->
    <section id="callout" class=" container-fluid bg-fixed">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-lg-6 p-0" data-start="right: 50%;" data-center="right:-5%;">
            <!-- image -->
            <img src="img/call-to-action/calltoactionbg.jpg" class="img-fluid img-rounded" alt="">
          </div>
          <!-- text box -->
          <div class="col-lg-6 bg-secondary p-5 justify-content-center align-self-center" data-start="left: 50%;" data-center="left:-5%;">
            <div class="text-light justify-content-center align-self-center">
              <h3>{{okulmevde}}</h3>
              <p>{{okulevdeyazi}}</p>
              <a href="{{'https://okulumevde.net' | url}}" class="btn btn-tertiary" target="_blank" rel="noreferrer">Tıklayın</a>
            </div>
            <!-- /text-light -->
          </div>
          <!-- /col-lg -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </section>
    <!-- /section ends -->
    <!-- Section -->
    <section id="contact-home" class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
          <!-- section heading -->
          <div class="section-heading text-center">
            <h2>{{collections.contact[0].data.bizeulasin}}</h2>
            <p class="subtitle">{{collections.contact[0].data.iletisimdekal}}</p>
          </div>
          <!-- /section-heading -->
          <!-- contact info boxes start-->
          <div class="contact-info res-margin">
            <div class="row res-margin">
              <div class="col-lg-4">
                <div class="contact-icon bg-secondary text-light">
                  <!---icon-->
                  <i class="fa fa-envelope top-icon"></i>
                  <!-- contact-icon info-->
                  <div class="contact-icon-info">
                    <h5>{{collections.contact[0].data.bizeyazin}}</h5>
                    <p>
                      <a href="mailto:{{sitedata.email}}">{{sitedata.email}}</a>
                    </p>
                  </div>
                </div>
                <!-- /contact-icon-->
              </div>
              <!-- /col-lg-->
              <div class="col-lg-4 res-margin">
                <div class="contact-icon bg-secondary text-light">
                  <!---icon-->
                  <i class="fa fa-map-marker top-icon"></i>
                  <!-- contact-icon info-->
                  <div class="contact-icon-info">
                    <h5>{{collections.contact[0].data.ziyaret}}</h5>
                    <p>{{sitedata.adres}}</p>
                  </div>
                </div>
                <!-- /contact-icon-->
              </div>
              <!-- /col-lg -->
              <div class="col-lg-4 res-margin">
                <div class="contact-icon bg-secondary text-light">
                  <!---icon-->
                  <i class="fa fa-phone top-icon"></i>
                  <!-- contact-icon info-->
                  <div class="contact-icon-info">
                    <h5>{{collections.contact[0].data.arayin}}</h5>
                    <p>
                      <a href="tel:{{sitedata.tel}}">{{sitedata.tel}}</a>
                    </p>
                  </div>
                </div>
                <!-- /contact-icon-->
              </div>
              <!-- /col-lg-->
            </div>
            <!-- /row -->
          </div>
          <!-- /contact-info-->
        </div>
        <!-- /col-lg-->
        <!--notepad -->
        <div class="col-lg-12 mt-5 block-padding force notepad pl-5 pr-5">
          <div class="row">
            <div class="col-lg-7">
              <!-- contact-info-->
              <h4>
                {{collections.contact[0].data.bizeulasin}}
              </h4>
              <!-- Form Starts -->
              <div id="contact_form">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>{{collections.contact[0].data.form.ad}}
                        <span class="required">*</span></label>
                      <input type="text" name="name" class="form-control input-field" required="">
                    </div>
                    <div class="col-md-6">
                      <label>{{collections.contact[0].data.form.mail}}
                        <span class="required">*</span></label>
                      <input type="email" name="email" class="form-control input-field" required="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label>{{collections.contact[0].data.form.konu}}</label>
                      <input type="text" name="subject" class="form-control input-field">
                    </div>
                    <div class="col-md-12">
                      <label>{{collections.contact[0].data.form.mesaj}}
                        <span class="required">*</span></label>
                      <textarea name="message" id="message" class="textarea-field form-control" rows="3" required=""></textarea>
                    </div>
                  </div>
                  <button type="submit" id="submit_btn" value="Submit" class="btn btn-tertiary">{{collections.contact[0].data.form.buton}}</button>
                </div>
                <!-- /form-group-->
                <!-- Contact results -->
                <div id="contact_results"></div>
              </div>
              <!-- /contact-form-->
            </div>
            <!-- /contact-info-->
            <div class="col-lg-5">
              <!-- map-->
              <div id="map-canvas" class="mt-5 rounded"></div>
            </div>
            <!-- ornament starts-->
            <div class="ornament-stars mt-8" data-aos="zoom-out"></div>
          </div>
          <!-- /row-->
        </div>
        <!-- /col-lg-->
      </div>
      <!-- /.row-->
    </section>
    <!-- /Section -->
  </div>
  <!--/ page-wrapper -->